  <link rel="stylesheet" href="stylesheets/estilosgaleria.css">
  <link rel="stylesheet" href="stylesheets/estilos.css">
<h1>
            <i>GALERIA DE IMAGENES</i>
        </h1>

        <div class="row">
            <div class="column">
                <img class="img-column" src="images/galeria/foto1.jpg" alt="foto presentacion">

                <img class="img-column" src="images/galeria/jean-alvaro.jpeg" alt="foto presentacion">

                <img class="img-column" src="images/galeria/foto3.jpg" alt="foto presentacion">

                <img class="img-column" src="images/galeria/foto4.jpg " alt="foto presentacion ">
                <img class="img-column" src="images/galeria/foto8.jpeg " alt="foto presentacion ">
            </div>
            <div class="column">
                <img class="img-column" src="images/galeria/foto5.jpg " alt="foto presentacion " class="gallery__img ">

                <img class="img-column" src="images/galeria/foto6.jpg " alt="foto presentacion ">

                <img class="img-column" src="images/galeria/foto7.jpeg " alt="foto presentacion ">
                <img class="img-column" src="images/galeria/foto2.jpg" alt="foto presentacion ">
                <img class="img-column" src="images/galeria/foto13.jpg" alt="foto presentacion ">


            </div>
            <div class="column">
                <img class="img-column" src="images/galeria/foto9.jpeg " alt="foto presentacion " class="gallery__img ">

                <img class="img-column" src="images/galeria/foto10.jpeg " alt="foto presentacion ">

                <img class="img-column" src="images/galeria/foto11.jpeg " alt="foto presentacion ">
                <img class="img-column" src="images/galeria/presentacion.jpg " alt="foto presentacion ">
                <img class="img-column" src="images/galeria/presentacion2.jpg" alt="foto presentacion ">


            </div>
        </div>