<link rel="stylesheet" href="stylesheets/novedades.css">
  <link rel="stylesheet" href="stylesheets/estilos.css">
<div>
            

            <div class="novedades">
                <img class="img " src="images/novedades/flyer.ba.jpeg " alt="flyer de la presentación">
                <div class="info">
                    <h3>Proxima presentacion el dia domingo 21/11/2021</h3>
                    <p>Queremos que te sientas como en casa, por eso 
                        La Parranda eligió para el Buenos Aires Celebra un repertorio
                         que recorre gran parte de la diversidad musical que existe 
                         en las distintas zonas geograficas de Venezuela, 
                         como son las zonas de la Costa Central, Region Noroeste, Occidente y Oriente Venezolano.
                         </p>
                         <p>¡TE ESPERAMOS!</p>
                </div>
            </div>
            <div class="novedades">
                <img class="img " src="images/novedades/abasto.jpeg " alt="flyer de la presentacion">
                <div class="info">
                    <h3>Proxima presentacion el dia domingo 23/10/2021</h3>
                    <p>Acompañanos en el festival, cantando las canciones mas populares de la historia de Venezuela..
        
                    </p>
                    <p>Te esperamos en el escenario del Abasto Abierto, 
                        de la calle Sarmiento a las 21:00 hs para cerrar el festial a puro ritmo</p>
                        <p>¡TE ESPERAMOS, NO FALTES!</p>
                </div>

            </div>
            <div class="novedades">
                <img class="img " src="images/novedades/flyerba.jpeg ">
                <div class="info">
                    <h3>Proxima presentacion el dia domingo 19/9/2021
                    </h3>
                    <p> Acompañanos en el festival, cantando las canciones mas populares de la historia de Venezuela..
                        Te esperamos el Domingo para bailar, festejar y cantar. 
                    </p>
                    <p>El horario de nuestra presentacion es a las 17:30 hs en el escenario de Av de Mayo.</p>
                      <p>¡NO TE LO PODES PERDER!</p>  
                    
                </div>
            </div>
        </div>
    </div>

